USE [master]
GO
/****** Object:  Database [SchoolTask]    Script Date: 9.08.2021 17:22:40 ******/
CREATE DATABASE [SchoolTask]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SchoolTask', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SchoolTask.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SchoolTask_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SchoolTask_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SchoolTask].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SchoolTask]
GO
/****** Object:  Table [dbo].[address]    Script Date: 9.08.2021 17:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address](
	[cps_unit] [smallint] NOT NULL,
	[street_number] [smallint] NULL,
	[street_direction] [char](1) NULL,
	[street_name] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[zip] [int] NULL,
	[ward] [tinyint] NULL,
	[community_area_id] [tinyint] NULL,
	[geographic_area_id] [tinyint] NULL,
	[il_senat_district] [tinyint] NULL,
	[il_rep_district] [tinyint] NULL,
	[us_congressional_district] [tinyint] NULL,
	[cook_county_district] [tinyint] NULL,
	[census_block] [bigint] NULL,
	[latitude] [float] NULL,
	[attitude] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[cps_unit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[charter_type]    Script Date: 9.08.2021 17:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[charter_type](
	[id] [tinyint] NOT NULL,
	[name] [nvarchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[community]    Script Date: 9.08.2021 17:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[community](
	[community_area_id] [tinyint] NOT NULL,
	[community_area_name] [nvarchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[community_area_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[geographic_area]    Script Date: 9.08.2021 17:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geographic_area](
	[geographic_area_id] [tinyint] NOT NULL,
	[geographic_area_name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[geographic_area_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[governance]    Script Date: 9.08.2021 17:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[governance](
	[id] [tinyint] NOT NULL,
	[name] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grades]    Script Date: 9.08.2021 17:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grades](
	[cps_unit] [smallint] NOT NULL,
	[from] [char](4) NOT NULL,
	[upto] [char](4) NULL,
	[grade_type] [char](1) NULL,
 CONSTRAINT [PK_grades_schools] PRIMARY KEY CLUSTERED 
(
	[cps_unit] ASC,
	[from] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NCES]    Script Date: 9.08.2021 17:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCES](
	[cps_unit] [smallint] NOT NULL,
	[school_identitier] [int] NULL,
	[school_state_identitier] [tinyint] NULL,
	[school_district_identitier] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cps_unit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[program_types]    Script Date: 9.08.2021 17:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[program_types](
	[id] [tinyint] NOT NULL,
	[name] [nvarchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[school_category]    Script Date: 9.08.2021 17:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[school_category](
	[id] [tinyint] NOT NULL,
	[name] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[school_program_types]    Script Date: 9.08.2021 17:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[school_program_types](
	[cps_unit] [smallint] NOT NULL,
	[program_types_id] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cps_unit] ASC,
	[program_types_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[school_type]    Script Date: 9.08.2021 17:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[school_type](
	[id] [tinyint] NOT NULL,
	[school_type_name] [nvarchar](20) NULL,
	[subtype1] [nvarchar](20) NULL,
	[s_type_name] [nvarchar](20) NULL,
	[subtype2] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schools]    Script Date: 9.08.2021 17:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schools](
	[cps_unit] [smallint] NOT NULL,
	[school_id] [int] NULL,
	[school_name] [nvarchar](80) NULL,
	[full_name] [nvarchar](80) NULL,
	[ISBE_name] [nvarchar](60) NULL,
	[ISBE_id] [nvarchar](50) NULL,
	[oracle_id] [int] NULL,
	[class] [bit] NULL,
	[school_category_id] [tinyint] NULL,
	[governance_id] [tinyint] NULL,
	[charter_type_id] [tinyint] NULL,
	[school_type_id] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[cps_unit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[address] ([cps_unit], [street_number], [street_direction], [street_name], [city], [state], [zip], [ward], [community_area_id], [geographic_area_id], [il_senat_district], [il_rep_district], [us_congressional_district], [cook_county_district], [census_block], [latitude], [attitude]) VALUES (1010, 2100, N'E', N'87th St', N'Chicago', N'IL', 60617, 8, 45, 12, 17, 33, 2, 4, 170314503003005, 41.84596533, -87.68554722)
INSERT [dbo].[address] ([cps_unit], [street_number], [street_direction], [street_name], [city], [state], [zip], [ward], [community_area_id], [geographic_area_id], [il_senat_district], [il_rep_district], [us_congressional_district], [cook_county_district], [census_block], [latitude], [attitude]) VALUES (1030, 3000, N'S', N'King Dr', N'Chicago', N'IL', 60616, 2, 35, 15, 3, 5, 1, 3, 170318392001005, 41.88751636, -87.70216585)
INSERT [dbo].[address] ([cps_unit], [street_number], [street_direction], [street_name], [city], [state], [zip], [ward], [community_area_id], [geographic_area_id], [il_senat_district], [il_rep_district], [us_congressional_district], [cook_county_district], [census_block], [latitude], [attitude]) VALUES (1045, 1313, N'S', N'Sacramento Dr', N'Chicago', N'IL', 60623, 24, 29, 19, 5, 9, 7, 2, 170318431001005, 41.94138825, -87.69072465)
GO
INSERT [dbo].[charter_type] ([id], [name]) VALUES (1, N'Original Replicating Charters')
INSERT [dbo].[charter_type] ([id], [name]) VALUES (2, N'Non-replicating  Charters Multi-charter')
INSERT [dbo].[charter_type] ([id], [name]) VALUES (3, N'Non-replicating Charters')
GO
INSERT [dbo].[community] ([community_area_id], [community_area_name]) VALUES (1, N'Rogers Park')
INSERT [dbo].[community] ([community_area_id], [community_area_name]) VALUES (2, N'West Ridge')
INSERT [dbo].[community] ([community_area_id], [community_area_name]) VALUES (3, N'Uptown')
GO
INSERT [dbo].[geographic_area] ([geographic_area_id], [geographic_area_name]) VALUES (1, N'Loop')
INSERT [dbo].[geographic_area] ([geographic_area_id], [geographic_area_name]) VALUES (2, N'Far East Side')
INSERT [dbo].[geographic_area] ([geographic_area_id], [geographic_area_name]) VALUES (3, N'Beverly')
GO
INSERT [dbo].[governance] ([id], [name]) VALUES (1, N'Charter')
INSERT [dbo].[governance] ([id], [name]) VALUES (2, N'District')
INSERT [dbo].[governance] ([id], [name]) VALUES (3, N'Contract')
GO
INSERT [dbo].[grades] ([cps_unit], [from], [upto], [grade_type]) VALUES (1010, N'9th ', N'12th', N'A')
INSERT [dbo].[grades] ([cps_unit], [from], [upto], [grade_type]) VALUES (1010, N'HS  ', N'HS  ', N'G')
INSERT [dbo].[grades] ([cps_unit], [from], [upto], [grade_type]) VALUES (1030, N'9th ', N'12th', N'A')
GO
INSERT [dbo].[NCES] ([cps_unit], [school_identitier], [school_state_identitier], [school_district_identitier]) VALUES (1010, 943, 17, 9930)
INSERT [dbo].[NCES] ([cps_unit], [school_identitier], [school_state_identitier], [school_district_identitier]) VALUES (1030, 588, 17, 9930)
INSERT [dbo].[NCES] ([cps_unit], [school_identitier], [school_state_identitier], [school_district_identitier]) VALUES (1045, 99995, 17, 9930)
GO
INSERT [dbo].[program_types] ([id], [name]) VALUES (1, N'NA')
INSERT [dbo].[program_types] ([id], [name]) VALUES (2, N'Military')
INSERT [dbo].[program_types] ([id], [name]) VALUES (3, N'AVID')
GO
INSERT [dbo].[school_category] ([id], [name]) VALUES (1, N'ES')
INSERT [dbo].[school_category] ([id], [name]) VALUES (2, N'MS')
INSERT [dbo].[school_category] ([id], [name]) VALUES (3, N'HS')
GO
INSERT [dbo].[school_program_types] ([cps_unit], [program_types_id]) VALUES (1010, 7)
INSERT [dbo].[school_program_types] ([cps_unit], [program_types_id]) VALUES (1010, 12)
INSERT [dbo].[school_program_types] ([cps_unit], [program_types_id]) VALUES (1010, 13)
GO
INSERT [dbo].[school_type] ([id], [school_type_name], [subtype1], [s_type_name], [subtype2]) VALUES (1, N'Regular', NULL, N'District', N'non-alternative')
INSERT [dbo].[school_type] ([id], [school_type_name], [subtype1], [s_type_name], [subtype2]) VALUES (2, N'Charter', NULL, N'Charter', NULL)
INSERT [dbo].[school_type] ([id], [school_type_name], [subtype1], [s_type_name], [subtype2]) VALUES (3, N'CPS', NULL, N'Alternative', N'District')
GO
INSERT [dbo].[schools] ([cps_unit], [school_id], [school_name], [full_name], [ISBE_name], [ISBE_id], [oracle_id], [class], [school_category_id], [governance_id], [charter_type_id], [school_type_id]) VALUES (1010, 609674, N'Chicago Vocational HS', N'Chicago Vocational Career Academy High School', N'Chicago Vocational Career Acad HS', N'150162990250526', 53011, 0, 3, 2, NULL, 1)
INSERT [dbo].[schools] ([cps_unit], [school_id], [school_name], [full_name], [ISBE_name], [ISBE_id], [oracle_id], [class], [school_category_id], [governance_id], [charter_type_id], [school_type_id]) VALUES (1030, 609676, N'Dunbar HS', N'Paul Laurence Dunbar Career Academy High School', N'Dunbar Vocational Career Acad HS', N'150162990250531', 53021, 0, 3, 2, NULL, 1)
INSERT [dbo].[schools] ([cps_unit], [school_id], [school_name], [full_name], [ISBE_name], [ISBE_id], [oracle_id], [class], [school_category_id], [governance_id], [charter_type_id], [school_type_id]) VALUES (1045, 610499, N'Collins HS', N'Collins Academy High School', N'Collins Academy High School', N'150162990250841', 49131, 0, 3, 2, NULL, 1)
GO
ALTER TABLE [dbo].[address]  WITH NOCHECK ADD  CONSTRAINT [FK_addres_geographic_area] FOREIGN KEY([geographic_area_id])
REFERENCES [dbo].[geographic_area] ([geographic_area_id])
GO
ALTER TABLE [dbo].[address] CHECK CONSTRAINT [FK_addres_geographic_area]
GO
ALTER TABLE [dbo].[address]  WITH NOCHECK ADD  CONSTRAINT [FK_address_community] FOREIGN KEY([community_area_id])
REFERENCES [dbo].[community] ([community_area_id])
GO
ALTER TABLE [dbo].[address] CHECK CONSTRAINT [FK_address_community]
GO
ALTER TABLE [dbo].[grades]  WITH CHECK ADD  CONSTRAINT [FK_grades_schools] FOREIGN KEY([cps_unit])
REFERENCES [dbo].[schools] ([cps_unit])
GO
ALTER TABLE [dbo].[grades] CHECK CONSTRAINT [FK_grades_schools]
GO
ALTER TABLE [dbo].[school_program_types]  WITH CHECK ADD  CONSTRAINT [FK_school_program_types_address] FOREIGN KEY([cps_unit])
REFERENCES [dbo].[address] ([cps_unit])
GO
ALTER TABLE [dbo].[school_program_types] CHECK CONSTRAINT [FK_school_program_types_address]
GO
ALTER TABLE [dbo].[school_program_types]  WITH NOCHECK ADD  CONSTRAINT [FK_school_program_types_program_types] FOREIGN KEY([program_types_id])
REFERENCES [dbo].[program_types] ([id])
GO
ALTER TABLE [dbo].[school_program_types] CHECK CONSTRAINT [FK_school_program_types_program_types]
GO
ALTER TABLE [dbo].[schools]  WITH NOCHECK ADD  CONSTRAINT [FK_address_schools] FOREIGN KEY([cps_unit])
REFERENCES [dbo].[address] ([cps_unit])
GO
ALTER TABLE [dbo].[schools] CHECK CONSTRAINT [FK_address_schools]
GO
ALTER TABLE [dbo].[schools]  WITH NOCHECK ADD  CONSTRAINT [FK_schools_charter_type] FOREIGN KEY([charter_type_id])
REFERENCES [dbo].[charter_type] ([id])
GO
ALTER TABLE [dbo].[schools] CHECK CONSTRAINT [FK_schools_charter_type]
GO
ALTER TABLE [dbo].[schools]  WITH NOCHECK ADD  CONSTRAINT [FK_schools_governance] FOREIGN KEY([governance_id])
REFERENCES [dbo].[governance] ([id])
GO
ALTER TABLE [dbo].[schools] CHECK CONSTRAINT [FK_schools_governance]
GO
ALTER TABLE [dbo].[schools]  WITH NOCHECK ADD  CONSTRAINT [FK_schools_NCES] FOREIGN KEY([cps_unit])
REFERENCES [dbo].[NCES] ([cps_unit])
GO
ALTER TABLE [dbo].[schools] CHECK CONSTRAINT [FK_schools_NCES]
GO
ALTER TABLE [dbo].[schools]  WITH NOCHECK ADD  CONSTRAINT [FK_schools_school_category] FOREIGN KEY([school_category_id])
REFERENCES [dbo].[school_category] ([id])
GO
ALTER TABLE [dbo].[schools] CHECK CONSTRAINT [FK_schools_school_category]
GO
ALTER TABLE [dbo].[schools]  WITH NOCHECK ADD  CONSTRAINT [FK_schools_school_type] FOREIGN KEY([school_type_id])
REFERENCES [dbo].[school_type] ([id])
GO
ALTER TABLE [dbo].[schools] CHECK CONSTRAINT [FK_schools_school_type]
GO
USE [master]
GO
